body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: lab(94.51% 1.18 6.38);
    color: #222;
    max-width: 100%;
    box-sizing: border-box;
}

#titulo {
    font-size: 3rem;
    color: black;
}

.subtitulo {
    font-size: 1.5rem;
    font-style: italic;
    color: black;
    margin-bottom: 10px;
}

.presentacion {
    margin: 40px auto;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

.presentacion img {
    width: 170px;
    height: auto;
    border-radius: 100%;
}

nav ul li {
    font-size: 1em;
}

nav ul {
    list-style: none;
    padding: 20px;
    margin: 0 auto 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lch(90.71% 12.59 78.87);
    gap: 10px;
    border-radius: 8px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

nav a:hover {
    color: #a16e2e;
}

.experiencia {
    max-width: 800px;
    margin: 80px auto;
    background-color: hwb(35 87% 3%);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.experiencia h2 {
    color: #444;
    font-size: 1.6em;
    border-bottom: 2px solid #ddd;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.trabajo h3 {
    font-size: 1.3em;
    color: #222;
    margin-bottom: 5px;
}

.empresa {
    font-style: italic;
    color: hsl(0, 0%, 22%);
    margin-bottom: 10px;
}

.descripcion {
    font-size: 1.2em;
    line-height: 1.4;
    color: black;
    margin-bottom: 10px;
}

section ul li {
    color: black;
    font-size: 1.2em;
    padding-left: 20px;
    list-style-type: disc;
    margin-bottom: 8px;
}

.redes-sociales {
    text-align: center;
    margin-top: 40px;
  }
  
  .redes-sociales a {
    color: #222;
    margin: 0 15px;
    font-size: 1.8rem;
    transition: color 0.3s;
  }
  
  .redes-sociales a:hover {
    color: #a16e2e;
  }
  

@media (min-width: 768px) {
    body {
        margin: 10px auto;
        max-width: 900px;
    }

    nav ul {
        flex-direction: row;
        justify-content: center;
        gap: 80px;
    }

    .presentacion {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
}